/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.alert{
	font-size: 14px; color: 
}
.alert-error{
	font-size: 14px;
	color: red;
}
.alert-notice{
	font-size: 14px;
	color: blue;
}

.alert-success{
	font-size: 14px;
	color: green;
}

#page_content{
	width: 960px;
}
#songs_list {
}
#songs_list li {
	display: inline;
}
#songs_list table {
	border:1px outset yellow;
}

#songs_list th {
	background-color:#FFD700;color:navy; border:1px outset yellow;
}
#songs_list td {
	/*width: 120px;*/ color:darkgreen; border:1px outset yellow;
} 

#categories_list {
}
#categories_list li {
  display: inline;
}
#categories_list table {
  border:1px outset yellow; font-size: 18px; color: green;
}

#categories_list th {
  border: 2px solid; color: blue; font-size: 20px;
}
#categories_list td {
  /*width: 120px;*/ border: 1px solid; color: #000F00; font-size: 18px;
} 

