

html { height: 100%; width: 100%; }
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 10; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; }

#header { height: 4em; padding-top: 1em; text-align: center; 
  background: #00008B; color: #FFFFFF; }

#main {width: auto; min-height: 500px; background: #B0E0E6; display: inline-block; }

#navigation { float: left; width: 200px; min-height: 480px; padding: 10px; 
  background: #FFFFFF; color: #006400; }

#search_bar { } 

#content { float: left; padding: 10px; color: #0000F0; height: auto; width: 750;}


table, td, th{border:1px outset #FFFF00;}

th{background-color:#FFD700;color:#000080;}

td{background-color:#FFDAB9; color:#006400; display: inline-block;}

f.label {background-color: inherit; }

#comment {background-color: inherit; display: inline-block;}

a, a:visited { color: #0000FF; }
a:hover {}

.clear { clear: both; }
.center { text-align: center; }




  #Rock, #Blues, #Pop, #Gospel, #Rap, #Jazz {
	display: none;
}


#footer { clear: both; height: 2.5em; text-align: right;
  background: #0000FF; color: #FFFFFF; }
