<h3>Welcome to the MCMS!</h3>

<h2>This is a Music Content Management System </h2>
<h3> This app is designed to help you view videos from upcoming artistes of our choice. </h3>
  <ul>
      <% @categories.each do |category| %>
          <%=  button_tag("#{category.name}", class: "#{category.name}") %> <br />
            <%= content_tag :div, :id => "#{category.name}" do %>
                        <% get_song_id(category.id).each do |song| %>
        		              	<li><%= link_to song.title, song_path(song.id) %> - <%= song.artist %> </li>
        		            <% end %>
            <% end %>
      <% end %>
  </ul>
<%#= @songs %>