<h2><%= @page.name %></h2>

<% @category.songs.visible.sorted.each do |song| %>
  <div class="song">
    <% case song.content_type
       when 'HTML' %>
         <%= raw(sanitize(song.content, :tags => ['strong', 'em', 'a'])) %>
    <% when 'text' %>
        <p><%= song.content %></p>
    <% end %>
  </div>
<% end %>
